* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .btn-box{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

  }

@media(max-width: 450px){

    .btn-md {
        margin-top: 20px;
        width: 50%;
    }
    .btn-box{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .success-msg{
    width: 100%;
    padding: 14px;
    background-color: #dff0d8;
    color: #468847;
  }
  
  .error-msg{
    width: 100%;
    padding: 14px;
    background-color: #f0d0d3;
    color: #df786f;
  }
  
  .link{
    text-decoration: none;
  }

nav {
    position: sticky; 
    top: 0;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid black;
    color: #000;
    background-color: #fff;
    position: sticky; 
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    position: absolute;
    left: 8px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-top: 6px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    /* width: 90%; */
    margin-left:auto;
    margin-right:auto;
}

.navlink-icons {
    display: block;
    position: absolute;
    font-size: 26px;
    color: #000;
    background-color: #fff;
    border: none;
    outline: none;
    /* top: 13px; */
    margin-left: 0;
    margin-right: 0;
    right: 65px; 
}

.navlink{
    text-decoration: none;
    color: #000;
    padding-right: 10px;
}

.home,
.login,
.about,
.contact,
.giftcard{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

/* @media screen and (max-width: 1103px) { */
    /* .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 25px;
    } */

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: #fff;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
        height: 100vh;
    }
    .home,
    .login,
    .about,
    .contact,
    .giftcard{
        color: black;
        text-align: left;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-out;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: #000;
        background-color: #fff;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }



/* } */

/********** HOME ************/

.main {
    width: 100%;
    height: 100vh;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    font-size: 45px;
    font-weight: 900;
}

.btn-shop {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  width: 180px;
  background-color: transparent;
  height: 50px;
  font-size: 20px;
}

.overlay {
    position: absolute;
    top: 9;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}


/* products */
.products-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .product{
    width: 350px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 24px;
    transition: all 0.3s ease-in-out;
    padding: 12px;
    border-radius: 10px; 
  }
  
  .product:hover {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  @media(min-width: 768px){
    .product{
      width: 300px;
    }
  }
  
  .product .product-img{
    width: 180px;
    height: 215px;  
  }
  
  .product .product-img img{
    width: 100%;
    height: 100%;
  }
  
  .product .product-text{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;  
  }
  
  .product .product-text.title{
    color: #e00a02;  
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .product .product-text.description{
    height: 50px;
    overflow: hidden;
  }
  
  .product .product-text.price{
    font-weight: 600;
  }
  
  .product .product-text.cart-price{
    font-weight: 600;
    color: #e00a02;
  }
  
  .cart-btn{
    background-color: #e00a02 !important;
  }
  
  .cart-menu-btn{
    position: relative;  
  }
  
  .cart-menu-btn .cart-indicator{
    width: 18px;
    background-color: #e00a02;
    padding: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    top: -17px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product .quantity-box{
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #b9b5b5;
    border-radius: 8px;
  }
  
  .product .quantity-box .action-btns{
    font-weight: 600;
    cursor: pointer;
  }
  
  /* summary box */
  .summary-box{
    width: 300px;
    margin: 30px auto;
    border: 1px solid #b9b5b5;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  
  .summary-box h5{
    display: flex;  
    border-bottom: 1px solid #e00a02;
    text-align: center;
    padding: 0px;
  }
  
  .summary-box div{
    display: flex;
    justify-content: space-between;
  }
  
  /* modal css */
  .shade-area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container{
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
  }
  
  .delete-icon{
    background-color: #e00a02;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }
  
  /* modal css */
  .shade-area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container{
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
  }
  
  .delete-icon{
    background-color: #e00a02;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }

  /* filter */
.filter-products-main-box{
    width: 100%;
    display: flex;  
  }
  
  @media(max-width: 540px){
    .filter-products-main-box{
      flex-direction: column;
    }
  }
  
  .filter-products-main-box .my-products{
    flex: 3.3;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  
  @media(max-width: 540px){
    .filter-products-main-box .my-products{
      width: 100%;
      margin-top: 30px; 
    }
  }
  
  .filter-box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    flex: 0.7;
    padding-left: 15px;
    padding-top: 10px;
  }
  
  @media(max-width: 540px){
    .filter-box{
      width: 100%;
      padding-left: 10px;
      padding-top: 5px;
    }
  }
  
  .filter-box h6{
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .filter-box span{
    cursor: pointer;
    margin: 15px 0px;
    font-size: 14px;
  }
  
  .filter-box span.ElectronicDevices{
    color: #e00a02;
  }
  
  .filter-box span.MobileAccessories{
    color: #e00a02;
  }
  
  .filter-box span.TVAndHomeAppliances{
    color: #e00a02;
  }
  
  .filter-box span.SportsAndOutdoors{
    color: #e00a02;
  }
  
  .HealthAndBeauty,.HomeAndLifestyle,.MensFashion,.WatchesBagsAndJewellery,.Groceries{
    color: #e00a02;
  }

  .errorimg {
    width: 100%;
    height: 94vh;
    object-fit: cover;
    object-position: center;
  }